--
-- PostgreSQL database dump
--

\restrict U1kqM9Spv73u08aVCpbZpNTtKsTEJJ5YgDvhjO1ItUy8TUvppYU3MqqqP7RridA

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP POLICY IF EXISTS "Users can view own profile" ON "public"."users";
DROP POLICY IF EXISTS "Users can update own profile" ON "public"."users";
DROP POLICY IF EXISTS "Role-based project access" ON "public"."projects";
DROP POLICY IF EXISTS "Enable read access for all users" ON "public"."users";
DROP POLICY IF EXISTS "Client Transparency" ON "public"."projects";
DROP POLICY IF EXISTS "Allow read access for authenticated users" ON "public"."workers";
DROP POLICY IF EXISTS "Allow engineers to update workers" ON "public"."workers";
DROP POLICY IF EXISTS "Allow engineers to insert workers" ON "public"."workers";
ALTER TABLE IF EXISTS ONLY "public"."users" DROP CONSTRAINT IF EXISTS "users_auth_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."projects" DROP CONSTRAINT IF EXISTS "projects_engineer_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."projects" DROP CONSTRAINT IF EXISTS "projects_client_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."project_supervisors" DROP CONSTRAINT IF EXISTS "project_supervisors_supervisor_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."project_supervisors" DROP CONSTRAINT IF EXISTS "project_supervisors_project_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."construction_phases" DROP CONSTRAINT IF EXISTS "construction_phases_project_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."clients" DROP CONSTRAINT IF EXISTS "clients_user_id_fkey";
ALTER TABLE IF EXISTS ONLY "public"."workers" DROP CONSTRAINT IF EXISTS "workers_pkey";
ALTER TABLE IF EXISTS ONLY "public"."users" DROP CONSTRAINT IF EXISTS "users_pkey";
ALTER TABLE IF EXISTS ONLY "public"."users" DROP CONSTRAINT IF EXISTS "users_email_key";
ALTER TABLE IF EXISTS ONLY "public"."projects" DROP CONSTRAINT IF EXISTS "projects_pkey";
ALTER TABLE IF EXISTS ONLY "public"."project_supervisors" DROP CONSTRAINT IF EXISTS "project_supervisors_pkey";
ALTER TABLE IF EXISTS ONLY "public"."construction_phases" DROP CONSTRAINT IF EXISTS "construction_phases_pkey";
ALTER TABLE IF EXISTS ONLY "public"."clients" DROP CONSTRAINT IF EXISTS "clients_pkey";
ALTER TABLE IF EXISTS "public"."workers" ALTER COLUMN "worker_id" DROP DEFAULT;
ALTER TABLE IF EXISTS "public"."users" ALTER COLUMN "user_id" DROP DEFAULT;
ALTER TABLE IF EXISTS "public"."projects" ALTER COLUMN "project_id" DROP DEFAULT;
ALTER TABLE IF EXISTS "public"."project_supervisors" ALTER COLUMN "assignment_id" DROP DEFAULT;
ALTER TABLE IF EXISTS "public"."construction_phases" ALTER COLUMN "phase_id" DROP DEFAULT;
ALTER TABLE IF EXISTS "public"."clients" ALTER COLUMN "client_id" DROP DEFAULT;
DROP SEQUENCE IF EXISTS "public"."workers_worker_id_seq";
DROP TABLE IF EXISTS "public"."workers";
DROP SEQUENCE IF EXISTS "public"."users_user_id_seq";
DROP TABLE IF EXISTS "public"."users";
DROP SEQUENCE IF EXISTS "public"."projects_project_id_seq";
DROP TABLE IF EXISTS "public"."projects";
DROP SEQUENCE IF EXISTS "public"."project_supervisors_assignment_id_seq";
DROP TABLE IF EXISTS "public"."project_supervisors";
DROP SEQUENCE IF EXISTS "public"."construction_phases_phase_id_seq";
DROP TABLE IF EXISTS "public"."construction_phases";
DROP SEQUENCE IF EXISTS "public"."clients_client_id_seq";
DROP TABLE IF EXISTS "public"."clients";
DROP SCHEMA IF EXISTS "public";
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA "public";


--
-- Name: SCHEMA "public"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA "public" IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = "heap";

--
-- Name: clients; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."clients" (
    "client_id" integer NOT NULL,
    "user_id" integer,
    "company_name" character varying(200),
    "address" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


--
-- Name: clients_client_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."clients_client_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: clients_client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."clients_client_id_seq" OWNED BY "public"."clients"."client_id";


--
-- Name: construction_phases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."construction_phases" (
    "phase_id" integer NOT NULL,
    "project_id" integer,
    "phase_name" character varying(200) NOT NULL,
    "phase_order" integer NOT NULL,
    "planned_start_date" "date" NOT NULL,
    "planned_end_date" "date" NOT NULL,
    "completion_percentage" numeric(5,2) DEFAULT 0.00,
    "status" "text" DEFAULT 'not_started'::"text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


--
-- Name: construction_phases_phase_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."construction_phases_phase_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: construction_phases_phase_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."construction_phases_phase_id_seq" OWNED BY "public"."construction_phases"."phase_id";


--
-- Name: project_supervisors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."project_supervisors" (
    "assignment_id" integer NOT NULL,
    "project_id" integer,
    "supervisor_id" integer,
    "assigned_date" "date" NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"()
);


--
-- Name: project_supervisors_assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."project_supervisors_assignment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: project_supervisors_assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."project_supervisors_assignment_id_seq" OWNED BY "public"."project_supervisors"."assignment_id";


--
-- Name: projects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."projects" (
    "project_id" integer NOT NULL,
    "project_name" character varying(200) NOT NULL,
    "project_location" "text" NOT NULL,
    "client_id" integer,
    "engineer_id" integer,
    "start_date" "date" NOT NULL,
    "target_end_date" "date" NOT NULL,
    "actual_end_date" "date",
    "status" "text" DEFAULT 'planning'::"text",
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


--
-- Name: projects_project_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."projects_project_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: projects_project_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."projects_project_id_seq" OWNED BY "public"."projects"."project_id";


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."users" (
    "user_id" integer NOT NULL,
    "full_name" character varying(150) NOT NULL,
    "email" character varying(150) NOT NULL,
    "password_hash" character varying(255) NOT NULL,
    "role" "text",
    "contact_number" character varying(20),
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "auth_id" "uuid",
    CONSTRAINT "users_role_check" CHECK (("role" = ANY (ARRAY['engineer'::"text", 'site_supervisor'::"text", 'client'::"text"])))
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."users_user_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."users_user_id_seq" OWNED BY "public"."users"."user_id";


--
-- Name: workers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE "public"."workers" (
    "worker_id" integer NOT NULL,
    "full_name" character varying(150) NOT NULL,
    "trade" character varying(100),
    "contact_number" character varying(20),
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


--
-- Name: workers_worker_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE "public"."workers_worker_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: workers_worker_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE "public"."workers_worker_id_seq" OWNED BY "public"."workers"."worker_id";


--
-- Name: clients client_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."clients" ALTER COLUMN "client_id" SET DEFAULT "nextval"('"public"."clients_client_id_seq"'::"regclass");


--
-- Name: construction_phases phase_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."construction_phases" ALTER COLUMN "phase_id" SET DEFAULT "nextval"('"public"."construction_phases_phase_id_seq"'::"regclass");


--
-- Name: project_supervisors assignment_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."project_supervisors" ALTER COLUMN "assignment_id" SET DEFAULT "nextval"('"public"."project_supervisors_assignment_id_seq"'::"regclass");


--
-- Name: projects project_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."projects" ALTER COLUMN "project_id" SET DEFAULT "nextval"('"public"."projects_project_id_seq"'::"regclass");


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."users" ALTER COLUMN "user_id" SET DEFAULT "nextval"('"public"."users_user_id_seq"'::"regclass");


--
-- Name: workers worker_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."workers" ALTER COLUMN "worker_id" SET DEFAULT "nextval"('"public"."workers_worker_id_seq"'::"regclass");


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."clients" ("client_id", "user_id", "company_name", "address", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: construction_phases; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."construction_phases" ("phase_id", "project_id", "phase_name", "phase_order", "planned_start_date", "planned_end_date", "completion_percentage", "status", "created_at") FROM stdin;
\.


--
-- Data for Name: project_supervisors; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."project_supervisors" ("assignment_id", "project_id", "supervisor_id", "assigned_date", "is_active", "created_at") FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."projects" ("project_id", "project_name", "project_location", "client_id", "engineer_id", "start_date", "target_end_date", "actual_end_date", "status", "description", "created_at", "updated_at") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."users" ("user_id", "full_name", "email", "password_hash", "role", "contact_number", "is_active", "created_at", "updated_at", "auth_id") FROM stdin;
\.


--
-- Data for Name: workers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY "public"."workers" ("worker_id", "full_name", "trade", "contact_number", "is_active", "created_at", "updated_at") FROM stdin;
\.


--
-- Name: clients_client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."clients_client_id_seq"', 1, false);


--
-- Name: construction_phases_phase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."construction_phases_phase_id_seq"', 1, false);


--
-- Name: project_supervisors_assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."project_supervisors_assignment_id_seq"', 1, false);


--
-- Name: projects_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."projects_project_id_seq"', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."users_user_id_seq"', 1, false);


--
-- Name: workers_worker_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('"public"."workers_worker_id_seq"', 1, false);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."clients"
    ADD CONSTRAINT "clients_pkey" PRIMARY KEY ("client_id");


--
-- Name: construction_phases construction_phases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."construction_phases"
    ADD CONSTRAINT "construction_phases_pkey" PRIMARY KEY ("phase_id");


--
-- Name: project_supervisors project_supervisors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."project_supervisors"
    ADD CONSTRAINT "project_supervisors_pkey" PRIMARY KEY ("assignment_id");


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_pkey" PRIMARY KEY ("project_id");


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_email_key" UNIQUE ("email");


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("user_id");


--
-- Name: workers workers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."workers"
    ADD CONSTRAINT "workers_pkey" PRIMARY KEY ("worker_id");


--
-- Name: clients clients_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."clients"
    ADD CONSTRAINT "clients_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;


--
-- Name: construction_phases construction_phases_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."construction_phases"
    ADD CONSTRAINT "construction_phases_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("project_id") ON DELETE CASCADE;


--
-- Name: project_supervisors project_supervisors_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."project_supervisors"
    ADD CONSTRAINT "project_supervisors_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("project_id") ON DELETE CASCADE;


--
-- Name: project_supervisors project_supervisors_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."project_supervisors"
    ADD CONSTRAINT "project_supervisors_supervisor_id_fkey" FOREIGN KEY ("supervisor_id") REFERENCES "public"."users"("user_id") ON DELETE CASCADE;


--
-- Name: projects projects_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "public"."clients"("client_id");


--
-- Name: projects projects_engineer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_engineer_id_fkey" FOREIGN KEY ("engineer_id") REFERENCES "public"."users"("user_id");


--
-- Name: users users_auth_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_auth_id_fkey" FOREIGN KEY ("auth_id") REFERENCES "auth"."users"("id");


--
-- Name: workers Allow engineers to insert workers; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow engineers to insert workers" ON "public"."workers" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."auth_id" = "auth"."uid"()) AND ("users"."role" = 'engineer'::"text")))));


--
-- Name: workers Allow engineers to update workers; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow engineers to update workers" ON "public"."workers" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."auth_id" = "auth"."uid"()) AND ("users"."role" = 'engineer'::"text")))));


--
-- Name: workers Allow read access for authenticated users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow read access for authenticated users" ON "public"."workers" FOR SELECT TO "authenticated" USING (true);


--
-- Name: projects Client Transparency; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Client Transparency" ON "public"."projects" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM ("public"."clients"
     JOIN "public"."users" ON (("clients"."user_id" = "users"."user_id")))
  WHERE (("clients"."client_id" = "projects"."client_id") AND ("users"."auth_id" = "auth"."uid"())))));


--
-- Name: users Enable read access for all users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Enable read access for all users" ON "public"."users" FOR SELECT USING (true);


--
-- Name: projects Role-based project access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Role-based project access" ON "public"."projects" FOR SELECT TO "authenticated" USING (((EXISTS ( SELECT 1
   FROM "public"."users"
  WHERE (("users"."auth_id" = "auth"."uid"()) AND ("users"."role" = 'engineer'::"text")))) OR (EXISTS ( SELECT 1
   FROM ("public"."project_supervisors" "ps"
     JOIN "public"."users" "u" ON (("ps"."supervisor_id" = "u"."user_id")))
  WHERE (("ps"."project_id" = "projects"."project_id") AND ("u"."auth_id" = "auth"."uid"())))) OR (EXISTS ( SELECT 1
   FROM ("public"."clients" "c"
     JOIN "public"."users" "u" ON (("c"."user_id" = "u"."user_id")))
  WHERE (("c"."client_id" = "projects"."client_id") AND ("u"."auth_id" = "auth"."uid"()))))));


--
-- Name: users Users can update own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update own profile" ON "public"."users" FOR UPDATE TO "authenticated" USING (("auth_id" = "auth"."uid"())) WITH CHECK (("auth_id" = "auth"."uid"()));


--
-- Name: users Users can view own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view own profile" ON "public"."users" FOR SELECT TO "authenticated" USING (("auth_id" = "auth"."uid"()));


--
-- Name: clients; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."clients" ENABLE ROW LEVEL SECURITY;

--
-- Name: construction_phases; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."construction_phases" ENABLE ROW LEVEL SECURITY;

--
-- Name: project_supervisors; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."project_supervisors" ENABLE ROW LEVEL SECURITY;

--
-- Name: projects; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."projects" ENABLE ROW LEVEL SECURITY;

--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;

--
-- Name: workers; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE "public"."workers" ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict U1kqM9Spv73u08aVCpbZpNTtKsTEJJ5YgDvhjO1ItUy8TUvppYU3MqqqP7RridA

